@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');



* {
scroll-behavior: smooth;
}

body {
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
}

/* MENU NAVIGATION */

nav {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
border-bottom: 4px solid #6f6f6f;
}

nav h1 {
color: #464646;
font-family: 'Dancing Script', sans-serif;
font-size: 28px;

}

nav .onglets a {
text-decoration: none;
color: rgb(0, 0, 0);
margin-right: 35px;
border-bottom: 1.5px solid black;
padding-bottom: 1.6px;
}

nav .onglets {
margin-top: 4px;
margin-left: 690px;
}

/* PAGE DE BINVENUE */

header {
display: flex;
flex-direction: column;
align-items: center;
background: url('https://i.ibb.co/4d8CYtM/background-header.jpg');
background-size: cover;
color: whitesmoke;
padding: 160px;
}

header h1 {
font-family: 'Dancing Script', sans-serif;
font-size: 95px;
}

header h4 {
margin-top: -15px;
font-size: 20px;
text-align: center;
border-bottom: 1px solid #fff;
border-radius: 5px;
border-width: 2px;
}

header button {
padding: 10px 20px;
background-color: rgb(10, 10, 10);
color: rgb(255, 255, 255);
font-size: 20px;
font-family: 'Playfair Display', sans-serif;
cursor: pointer;
outline: none;
border-radius: 30px;
box-shadow: 6px -5px 8px #ffffff;
-webkit-box-shadow: 6px -4px 7px #ffffff;
-moz-box-shadow: 6px 5px 8px #ffffff;
}

.main{
margin-top: 40px;
display: flex;
flex-direction: column;
align-items: center;
}

.main .content .card{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom:20px;
}

.main .content .card .left{
flex: 0 0 30%;
padding: 20px;
background-color:#181818;
color:#fff;
font-family: sans-serif;
}

.main .content .card .right img{
height:380px;
width: 480px;
margin-top: 5px;
}

/* SECTION FOOTER */


footer{
margin-top: 40px;
border-top: 5px solid #6f6f6f;
background-color: rgb(0, 0, 0);
color: #fff;
padding: 30px 100px;;
}

footer h1{
font-family: 'Playfair Display', serif;
border-bottom: 3px solid white;
width: 20%;
padding-bottom: 5px;
border-bottom: 2px solid #ffffff;
border-radius: 8px;
border-width: 3px;

}

footer .services{
margin-top: -10px;
display:flex;
flex-wrap:wrap;
}

footer .services .service{
margin-right: 30px;
}

footer .services .service p{
max-width: 300px;
}

footer #contact{
color: rgb(181, 181, 181);
}




@media all and (max-width: 375px)
{
nav
{
width: auto;
text-align: left;
}

nav a {
flex-direction: column;
}
}